<div {{action (mut showMissionInformation) true}}>
  <h4>{{mission.description}}</h4>
</div>

{{#if showMissionInformation}}
  {{modals/mission-information
    mission=mission
    showFollowerSelect=showFollowerSelect
    startMission=(action "startMission")
    hideMissionModal=(action "hideMissionModal")}}
{{/if}}

{{#if showMissionDialog}}
  {{modals/chat-dialogue
    chatMessages=chatMessages
    noSecondary=true
    hideModal=(action (mut showMissionDialog false))}}
{{/if}}
