<ul class="resource-list">
  <li class="resource-list__item">Food: {{resources.food}}</li>
  <li class="resource-list__item">Metal: {{resources.metal}}</li>
  <li class="resource-list__item">Wood: {{resources.wood}}</li>
  <li class="resource-list__item">Gold: {{resources.gold}}</li>
</ul>
