{{#modal-dialog
  containerClass="ember-modal-dialog-bottom"
  overlayClass="ember-modal-overlay-bottom"
  translucentOverlay=true}}
  <div class="chat-container">
    <img src="images/single-face.png" class={{if isPrimary 'focus'}}>
    <div>
      <p>{{currentText}}</p>
      <button {{action "stepForward"}}>Next</button>
    </div>
    {{chat-sprite currentChat=currentChat speaker="secondary"}}
  </div>
{{/modal-dialog}}
